// General Colors
$primary-color: #DE8734; // Cor do botão e links
$secondary-color: #333333; // Fundo dos inputs
$text-color: #ffffff; // Cor do texto principal
$background-color: rgba(20, 20, 20, 0.6); // Fundo do card de autenticação
$muted-text-color: #B9B9B9; // Texto mais claro
$btn-text-color: #000; // Cor do texto do botão

// Button Colors (Gradiente e hover)
$btn-primary-bg: #DE8734; // Cor base para o botão
$btn-primary-hover-bg: darken($primary-color, 10%); // Efeito de hover

// Fontes e Tamanhos
$font-family-primary: "Space Grotesk", sans-serif;
$font-size-base: 16px;
$font-size-small: 0.95rem;
$font-size-large: 1.5rem;

// Spacing
$spacing-unit: 8px;

// _auth.scss

body {
    background: $background-color;
    height: 100%;
    min-height: 100vh;
    width: 100%;
}

.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./../assets/images/background.webp') no-repeat center center;
    background-size: cover;
}

.auth-card {
    position: relative; // Necessário para o posicionamento do ::before
    background-color: $background-color;
    border-radius: $spacing-unit + 4;
    padding: $spacing-unit * 2;
    text-align: center;
    border: 1px solid #666666;
    overflow: hidden; // Para garantir que o ::before não ultrapasse os limites do card
    max-width: 708px;

    @media screen and (min-width:1024px) {
        max-width: 608px;
    }


    &::before {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        border-radius: inherit; // Herda o border-radius do .auth-card
        padding: 1px; // Adiciona uma espessura para simular a borda
        background: linear-gradient(180deg, #242424 0%, #666666 100%);
        mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0); // Gradiente para a borda
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0); // Máscara para criar o efeito de borda
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        z-index: -1; // Mantém a borda atrás do conteúdo do card
        // }

        // &::before {
        // content: "";
        // position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;
        background-color: $background-color; // Fundo semi-transparente para complementar o blur
        backdrop-filter: blur(20px); // Aplicando o efeito de blur
        z-index: -1; // Coloca o ::before atrás do conteúdo do card
    }


    .logo {
        width: 50px;
        margin-bottom: $spacing-unit;
    }

    h2 {
        font-family: $font-family-primary;
        color: $text-color;
        font-size: $font-size-large;
        margin-bottom: $spacing-unit * 2;
    }

    p {
        color: $muted-text-color;
        font-size: $font-size-small;
        margin-bottom: $spacing-unit * 2;
        font-weight: 300;
    }

    .form-group {
        text-align: left;

        label {
            display: block;
            font-size: $font-size-small;
            color: $muted-text-color;
            font-weight: 400;
            margin-bottom: calc($spacing-unit / 2);
            padding-left: calc($spacing-unit / 4);
        }

        .form-control {
            background-color: #B9B9B9;
            color: #141414;
            border: none;
            font-size: $font-size-base;
            border-radius: $spacing-unit;
            padding: $spacing-unit;
            margin-bottom: $spacing-unit * 1.5;

            &:focus {
                background-color: #F4F4F4;
                color: #141414;
                border: solid 2px $primary-color;
                box-shadow: none !important;
            }
        }
    }

    .form-check-label {
        color: $muted-text-color;
        font-size: $font-size-small;
    }

    // Estilização do checkbox customizado
    .form-check-input {
        // width: 1.25em;
        // height: 1.25em;
        border-radius: 0.25em;
        background-color: $secondary-color;
        border: 1px solid $muted-text-color;
        transition: background-color 0.2s ease, border-color 0.2s ease;

        &:checked {
            background-color: $btn-primary-bg; // Cor laranja quando selecionado
            border-color: $primary-color; // Borda laranja quando selecionado
        }

        // Estilizando o ícone de "check" (marca de seleção) quando selecionado
        &:checked::before {
            content: "\2713"; // Símbolo de check
            display: flex;
            align-items: center;
            justify-content: center;
            color: $btn-text-color; // Cor do check (ajustável)
            font-size: 0.75em;
            background-color: $btn-primary-bg;
            width: 13px;
            height: 13px;
            border-radius: 3px;
        }
    }


    .btn-primary {
        background-color: $btn-primary-bg;
        border: none;
        font-size: $font-size-base;
        font-weight: bold;
        width: 100%;
        padding: $spacing-unit * 1.5;
        border-radius: $spacing-unit;
        color: $btn-text-color;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $btn-primary-hover-bg;
        }
    }

    .options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $font-size-small;
        color: $muted-text-color;

        a {
            color: $primary-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    a {
        color: $primary-color !important;
        font-size: $font-size-small;

        &.recup {
            color: $muted-text-color !important;
            display: flex;
            align-self: center;
            align-content: center;
            align-items: center;
        }

        &:hover {
            text-decoration: underline;
        }
    }




}